* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("background.jpg") center/cover no-repeat;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    width: 90%;
    text-align: center;
}

.title {
    font-size: 50px;
    margin-top: 10px;
    text-shadow: 0 0 12px red;
    position: relative;
    z-index: 2;
}

.game-area {
    position: relative;
    width: 100%;
    height: 520px;
    border: 3px solid #333;
    border-radius: 10px;
    margin-top: 10px;
    background: radial-gradient(circle at center, #1a1a1a 10%, black 90%);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.3);
    display: none;
}

.start-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 25px;
    cursor: pointer;
    margin-top: 30px;
}


.start-btn:hover {
    background-color: darkred;
}

.ghost {
    position: absolute;
    width: 120px;
    height: 120px;
    background-image: url("ghost.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
}

.score-and-timer{
    display: flex;
    justify-content: center;
    gap: 38%;
    margin-top: 15px;
}

.score {
    font-size: 18px;
    color: white;
    text-shadow: 0 0 10px red;
 }

.high-scr{
    font-size: 18px;
    color: white;
    text-shadow: 0 0 10px red;
}


.timer{
    font-size: 18px;
    color: white;
    text-shadow: 0 0 10px red;
  }

.game-end-msg{
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    font-size: 50px;
    color: red;
    /* display: none; */
}  

.start-screen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("background.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play-again {
    border: none;
    font-size: 25px;
    padding: 10px 25px;
    margin-top: 3%;
    border-radius: 8px;
    background-color: red;
    color: white;
    cursor: pointer;
}


.play-again:hover{
    background-color: darkred;
}

.end-screen {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: url("background.jpg") center/cover no-repeat;
}


.high-score{
    font-size: 35px;
    color: rgb(255, 123, 0);
    margin-top: 50px;
}

.final-score{
    font-size: 35px;
    color: rgb(255, 123, 0);
    margin-top: 50px;
}