* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("images/background.jpg") center/cover no-repeat;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    width: 90%;
    text-align: center;
}

.title {
    font-size: 50px;
    margin-top: 10px;
    text-shadow: 0 0 12px red;
    position: relative;
    z-index: 2;
}

.game-area {
    position: relative;
    width: 100%;
    height: 520px;
    border: 3px solid #333;
    border-radius: 10px;
    margin-top: 10px;
    background: radial-gradient(circle at center, #1a1a1a 10%, black 90%);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.3);
    display: none;
}

.start-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 25px;
    cursor: pointer;
    margin-top: 30px;
}

.start-btn:hover {
    background-color: darkred;
}

.ghost {
    position: absolute;
    width: 110px;
    height: 110px;
    background-image: url("images/ghost.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    filter: drop-shadow(0 0 30px rgba(255, 0, 0, 0.9));
    animation: floatGhost 2.5s ease-in-out infinite, flicker 3s infinite alternate;
    transition: transform 0.2s ease;
}

@keyframes floatGhost {
    50% {
        transform: translateY(-20px); 
    }
}

@keyframes flicker {
    0%, 100% { 
        opacity: 0.9; 
        filter: drop-shadow(0 0 15px rgba(255, 0, 0, 0.9)); 
    }
    50% { 
        opacity: 1; 
        filter: drop-shadow(0 0 35px rgba(255, 0, 0, 0.9)); 
    }
}

.score-and-timer {
    display: flex;
    justify-content: center;
    gap: 38%;
    margin-top: 15px;
}

.score, .high-scr, .timer {
    font-size: 18px;
    color: white;
    text-shadow: 0 0 10px red;
 }

.game-end-msg {
    font-size: 50px;
    color: red;
    text-shadow: 0 0 15px red, 0 0 25px darkred;
} 

.msg-ghost-img {
    height: 200px;
    vertical-align: middle;
    filter: drop-shadow(0 0 15px red);
    animation: floatGhost 2s ease-in-out infinite;
}

.start-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("images/background.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play-again, .home-btn {
    border: none;
    font-size: 25px;
    padding: 10px 25px;
    border-radius: 8px;
    background-color: red;
    color: white;
    cursor: pointer;
}

.play-again:hover, .home-btn:hover{
    background-color: darkred;
}

.end-screen {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: url("images/background.jpg") center/cover no-repeat;
}

.end-screen-btns {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.high-score, .final-score {
    font-size: 35px;
    color: white;
    margin-top: 50px;
    text-shadow: 0 0 10px red;
}

.bgMusic-on-off-btn {
    position: absolute;
    top: 15px;
    right: 25px;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid red;
    color: red;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s ease;
    font-size: 18px;
    font-weight: 600;
}

.bgMusic-on-off-btn i{
    font-size: 20px;
    color: red;
    transition: color 0.3s ease;
}

.bgMusic-on-off-btn:hover{
    color: darkred;
    background: white;
    transform: scale(1.05);
}

.bgMusic-on-off-btn:hover i {
     color: darkred;
}

.instruction{
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid red;
    border-radius: 13px;
    padding: 20px 30px;
    width: 50%;
    color: white;
    text-align: left;
}

.instruction h2{
    text-align: center;
    margin-bottom: 15px;
    color: red;
}

.instruction ul {
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
}

.instruction li{
    margin-bottom: 8px;
}